.txtInputFld {
    -fx-background-color: rgb(77, 77, 77,0.3);
    -fx-text-fill:rgba(255,255,255,0.5);
}

.btnAddToDo {
     -fx-background-color: rgb(77, 77, 77,0.6);
     -fx-text-fill:rgba(255,255,255,0.8);
     -fx-font-size:16px;
}

.btnToDo{
    -fx-text-fill:white;
    -fx-background-color: rgb(77, 77, 77,0.6);
}

.overlay{
    -fx-background-color:rgb(38, 38, 38,0.6);
}

.bg-addToDoForm{
    -fx-background-color:rgb(26, 26, 26);
}


.work-bg{
    -fx-background-color:;
}

.urgent-bg{
   -fx-background-color:;
}

.personal-bg{
   -fx-background-color:;
}

.health-bg{
   -fx-background-color:;
}


.bg-sp{
    -fx-background-color:transparent;
}

.border-radius{

}


